<?xml version="1.0"?>

<robot name="DobotCR5" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="collider" default="convex"/>

  <!-- 从同目录下的dh_params.yaml文件加载DH参数 -->
  <xacro:property name="dh_params" value="${xacro.load_yaml('$(find cr5_description)/xacro/dh_params.yaml')['dh_params']}"/>

  <xacro:include filename="$(find cr5_description)/xacro/arm.xacro"/>

  <xacro:CR5 name="" collider="$(arg collider)" dh_params="${dh_params}"/>

  <xacro:include filename="$(find cr5_description)/xacro/grippers.xacro"/>
</robot>
