<?xml version="1.0"?>
<robot name="DobotCR5_Dual" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="collider" default="convex"/>
  <xacro:property name="tf_params" value="${xacro.load_yaml('$(find cr5_description)/xacro/tf_params.yaml')['tf_params']}"/>

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="file://$(find cr5_dual_description)/meshes/base.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file://$(find cr5_dual_description)/meshes/base.obj"/>
      </geometry>
    </collision>
  </link>

  <xacro:include filename="$(find cr5_description)/xacro/arm.xacro"/>
  <xacro:CR5 name="left" collider="$(arg collider)" tf_params="${tf_params}"/>
  <xacro:CR5 name="right" collider="$(arg collider)" tf_params="${tf_params}"/>

  <!-- Initial guess; measure or adjust in RViz for final mounting pose -->
  <joint name="left_arm_mount" type="fixed">
    <origin xyz="0.0 0.185 0.625" rpy="0 1.3963 1.5708"/>
    <parent link="base_link"/>
    <child link="left_base_link"/>
  </joint>

  <joint name="right_arm_mount" type="fixed">
    <origin xyz="0.0 -0.185 0.625" rpy="0 -1.3963 1.5708"/>
    <parent link="base_link"/>
    <child link="right_base_link"/>
  </joint>


  <xacro:include filename="grippers.xacro"/>

  <!-- Camera TF from obj file analysis -->
  <link name="camera_link"/>

  <joint name="camera_mount" type="fixed">
    <origin xyz="0.0918 -0.0215 0.8291" rpy="0 0.7854 0"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
  </joint>

</robot>
